@mixin overal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin textStyle($size, $weight, $color, $transform) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-transform: $transform;
}

@mixin boxShadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

@mixin mainStyle {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(11.5px);
  height: 600px;
  padding: 1rem;
}

@mixin mediaquery($size) {
  @if ($size == M) {
    @media (max-width: 768px) {
      @content;
    }
  } @else if ($size == L) {
    @media (min-width: 768px) and (max-width: 1200px) {
      @content;
    } 
  }
}
